body{
    margin: auto;
}

*{
    transition: 1s;
}

/* ---------------- Imagens -----------------------------*/

.logo{
    height: 10vh;
    min-height: 30px;
    margin-right: 20px;
}

.container-fotos{
    display: flex;
    justify-content: center;
}

.container-item-foto img{
    width: 10vw;
}

.container-fotos .container-item-foto{
    width: 25vw;
    margin: 3vw;
    border: 1px solid rgb(189, 188, 188);
    border-radius: 10px;
    padding: 10px;
}

.container-fotos .container-item-foto > *{
    display: flex;
    text-align: center;
    justify-content: center;
}


/* ----------------------------Carrosel-------------------------------- */

.carousel-item img{
    background-size: contain;
    overflow: scroll;
    max-height: 80vw;
}

#carouselExampleDark {
    width: 30vw;
    max-width: 310px;
    margin: auto;
    margin-top:20px;
    border: 2px solid rgb(184, 178, 178);
    padding: 2px;
}

.carousel-inner{
    min-height: 80vh;
}

.carousel-caption{
    margin-bottom: -200px;
    background-color: gray;
    border-radius: 10px;
}
.carousel-caption h5{
    color: white;
    text-shadow: black 2px 2px 0px;
}
.container-item-foto img{
    margin: auto;
    width: fit-content;
    max-width: 20vw;
}


/* ---------------------Container titulo Hr ---------------------- */

.container-titulo-hr{
    margin-left: 5vw;
}

.hr-item{
    width: 10vw;
    border: 3px solid black;
}

/* ----------------------Container wrap----------------------- */

.container-wrap{
    display: flex;
    flex-wrap: wrap;
    column-count: 3;
    justify-content: center;
    width: 90vw;
}

.iten-container-wrap{
    display: flex;
    width: 25vw;
    height: 50vh;
    background-color: darkgray;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
}

.iten-container-wrap div{ 

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.iten-container-wrap div p {
    color: white;
    text-shadow: black 2px 2px 2px;
}

.iten-container-wrap div h1{
    text-shadow: white 2px 2px 0px;
}
.iten-container-wrap .div-img-1{
    background-image: url(../img/paisagem1.jpg);
}
.iten-container-wrap .div-img-2{
    background-image: url(../img/paisagem2.webp);
}
.iten-container-wrap .div-img-3{
    background-image: url(../img/paisagem3.webp);
}
.iten-container-wrap .div-img-4{
    background-image: url(../img/paisagem1.jpg);
}
.iten-container-wrap .div-img-5{
    background-image: url(../img/paisagem4.jpg);
}
.iten-container-wrap .div-img-6{
    background-image: url(../img/paisagem2.webp);
}

.container-foto-anos{
    display: flex;
    justify-content: center;
    width: 90vw;
    margin: auto;
}

.container-foto-anos div img{
    width: 40vw;
    margin: 20px;
}

.container-anos{
    display: flex;
    flex-direction: column;
}

.container-anos > *{
    margin: 20px;
}

.container-anos div{
    display: flex;
    justify-content: space-between;
}

.container-anos div div{
    display: flex;
    flex-direction: column;
}

.container-anos a{
    width: 10vw;
}


/*-------------------- Cards ----------------------- */

@media screen and (width < 1000px) {
    .container-wrap, .div-cards{
        flex-direction: column;
        align-items: center;
    }

    .div-cards , .container-wrap > *{
        margin-top:40px;
    }
}


